In [107]:
import requests
import datetime
import time
import pandas as pd
import numpy as np

In [11]:
r = requests.get('https://api.pro.coinbase.com/products/BTC-USD/candles?start=2020-12-27T00:00:00Z&end=2020-12-28T00:00:00Z&granularity=3600')
r.json()

[[1609113600, 26086.19, 26955.44, 26255.16, 26845.64, 1418.01702094],
 [1609110000, 26205.11, 26677.72, 26493.96, 26258.65, 1276.38185369],
 [1609106400, 26255, 26637.69, 26390.97, 26493.96, 950.25761812],
 [1609102800, 25772.55, 26444.65, 26184.83, 26388.94, 2844.36442243],
 [1609099200, 26134.79, 27070, 27058.39, 26194.55, 1839.56535711],
 [1609095600, 26951.01, 27274, 27024.2, 27058.39, 804.29465546],
 [1609092000, 26526, 27025, 26767.36, 27024.07, 1223.29475663],
 [1609088400, 26636.12, 27056.81, 27056.81, 26767.36, 1186.85176376],
 [1609084800, 26580, 27446.7, 27347.7, 27051.87, 2693.20303375],
 [1609081200, 27000, 27459.67, 27309.24, 27347.69, 1489.41402411],
 [1609077600, 27220.33, 27749.51, 27490.85, 27307.34, 1564.49125579],
 [1609074000, 27032.84, 27550, 27202.41, 27495.48, 1139.20603384],
 [1609070400, 26362.67, 27623.19, 27623.19, 27189.51, 2359.82878026],
 [1609066800, 26809.76, 28387, 27803.51, 27612.27, 2587.05855359],
 [1609063200, 27666.96, 27869.5, 27790, 27803.47, 382.47235521],
 [1609059600, 27201.23, 27825.02, 27445.37, 27792.72, 927.87787713],
 [1609056000, 27348, 27922, 27608.96, 27441.45, 1086.90745426],
 [1609052400, 27430.41, 27794.64, 27607.4, 27608.96, 971.50282849],
 [1609048800, 26870.83, 27711, 26879, 27613.26, 2569.71634882],
 [1609045200, 26691.93, 26928, 26731.51, 26879.01, 515.12086503],
 [1609041600, 26553.89, 26810, 26555.48, 26730.88, 607.49995204],
 [1609038000, 26435.85, 26648.66, 26571.85, 26555.25, 705.26398254],
 [1609034400, 26500, 26861.29, 26624.97, 26571.84, 1064.05626881],
 [1609030800, 26523.86, 26950, 26739.53, 26632.55, 1592.91940759],
 [1609027200, 26475.92, 26855, 26482.64, 26740.47, 1245.45801051]]

In [75]:
def get_coinbase_data(start, end, granularity=86400, product_id="BTC-USD"):
    assert start >= datetime.datetime(2015, 7, 20)
    request_url = "https://api.pro.coinbase.com/products/{}/candles?start={}&end={}&granularity={}".format(product_id, start.isoformat(), end.isoformat(), granularity)
    r = requests.get(request_url)
    return r.json()

In [126]:
start = datetime.datetime(2015, 7, 20)
end = datetime.datetime.now()

def fetch_historic_data():
    curr_start = start
    curr_end = curr_start + datetime.timedelta(days=10)
    df = pd.DataFrame()
    while curr_start < end:
        data = get_coinbase_data(curr_start, curr_end, 3600)
        df = df.append(pd.DataFrame(np.array(data)))
        
        curr_start = curr_end
        curr_end = curr_start + datetime.timedelta(days=10)
        time.sleep(0.4)
    return df

historic_df = fetch_historic_data()
historic_df.columns = ["time", "low", "high", "open", "close", "volume"]
historic_df.to_csv("../data/bitcoin_prices.csv")

In [124]:
pd.read_csv("../data/bitcoin_prices.csv")

,Unnamed: 0,0,1,2,3,4,5
0,0,1.438214e+09,288.24,290.26,290.26,288.97,277.094521
1,1,1.438211e+09,289.12,291.51,291.51,290.19,277.769354
2,2,1.438207e+09,291.50,291.55,291.54,291.51,159.467989
3,3,1.438204e+09,291.50,291.69,291.67,291.55,169.357030
4,4,1.438200e+09,291.50,292.00,291.51,291.66,224.607238
...,...,...,...,...,...,...,...
47847,193,1.608437e+09,23100.00,23483.00,23370.01,23460.22,581.886838
47848,194,1.608433e+09,23218.53,23458.06,23458.06,23370.01,432.693622
47849,195,1.608430e+09,23321.01,23559.41,23512.18,23458.05,459.859499
47850,196,1.608426e+09,23411.23,23563.85,23514.75,23509.61,475.080156
47851,197,1.608422e+09,23261.82,23852.01,23850.00,23514.75,1592.203241